<link rel="stylesheet" type="text/css" href="./public/stylesheets/index.css">
<div class="banner">
		<img style="width:100%" src="../public/images/banner.png" alt="">
		<p class="title">邀请函</p>
</div>
<div class="form successpage">
	<p class="success-title">恭喜您！报名成功~</p>
</div>